[submodule "Desktop-Search-Engine"]
	path = Desktop-Search-Engine
	url = https://github.com/sujairamprasathc/Desktop-Search-Engine.git
[submodule "DAA/Convex-Hull"]
	path = DAA/Convex-Hull
	url = https://github.com/turkmavisi/Convex-Hull.git
[submodule "Treaps"]
	path = Treaps
	url = https://github.com/sriram13k/Treaps.git
[submodule "dsr"]
	path = dsr
	url = https://github.com/mek-x/dsr.git
[submodule "osl/pydatastruct"]
	path = osl/pydatastruct
	url = git@github.com:fjavieralba/pydatastruct.git
